<%- include("header") -%>

    <div class="container-fluid">
        <h1>Ticket</h1>

        <button class="btn btn-dark" onclick="window.location.href='/viewTickets'">Return to Tickets</button>

        <form>
            <div class="form-row">
                <div class="form-group col-4">
                    <label for="submittedBy">Submitted by</label>
                    <input type="text" id="submittedBy" class="form-control" value=" <%=ticket.submittedBy %>" readonly>
                </div>

                <div class="form-group col-2">
                    <label for="category">Category</label>
                    <input type="text" id="category" class="form-control" value=" <%=ticket.category %>" readonly>
                </div>

                <div class="form-group col-2">
                    <label for="priority">Priority</label>
                    <input type="text" id="priority" class="form-control" value=" <%=ticket.priority %>" readonly>
                </div>

                <div class="form-group col-4">
                    <label for="dateTime">Submitted on</label>
                    <input type="text" id="dateTime" class="form-control"
                        value=" <%= new Intl.DateTimeFormat('en-US', { dateStyle: 'short', timeStyle: 'short' }).format(ticket.dateTimeSubmitted); %>" readonly>
                </div>
            </div>

            <div class="form-group">
                <label for="subject">Subject </label>
                <textarea class="form-control name=" subject" rows="10" readonly><%= ticket.subject %></textarea>
            </div>
        </form>

        <h2>Close Ticket</h2>

        <form action="/closeTicket" method="post">
            <div class="form-row">
                <div class="form-group col-4">
                    <label for="closedBy">Closed by</label>
                    <!-- Set to readonly when the ticket has already been closed -->
                    <% if (ticket.closedBy === "") { %>
                        <input class="form-control" type="text" name="closedBy" value="<%= ticket.closedBy %>" required>
                    <% } else { %>
                        <input class="form-control" type="text" name="closedBy" value="<%= ticket.closedBy %>" required readonly>
                    <% } %>
                </div>
            </div>
            <div class="form-group">
                <label for="solution">Solution</label>
                <!-- Set to readonly when the ticket has already been closed -->
                <% if (ticket.solution === "") { %>
                    <textarea class="form-control" name="solution" rows="10"><%= ticket.solution %></textarea>
                <% } else { %>
                    <textarea class="form-control" name="solution" rows="10" readonly><%= ticket.solution %></textarea>
                <% } %>
            </div>
            <input type="hidden" name="ticketId" value="<%= ticket._id %>" required>
            <!-- Disable the button when the ticket has already been closed -->
            <% if (ticket.closedBy === "") { %>
                <button class="btn btn-dark" type="submit">Close Ticket</button>
            <% } else { %>
                <button class="btn btn-dark" type="submit" disabled>Close Ticket</button>
            <% } %>
        </form>

    </div>


    <%- include("footer") -%>